<!DOCTYPE html>
<html lang="ja" ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <title>localportal</title>
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Import AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.min.js"></script>
    <script src="scripts/myscript.js"></script>
</head>

<body>
    <h1 class="text-center text-muted">localportal</h1>
    <div ng-controller="MainController">
        <form ng-submit="addNew()" class="form-inline">
            <div class="form-group">
                <label for="inputName">登録名</label>
                <input type="text" ng-model="newTaskTitle" class="form-control" id="inputName" placeholder="Google">
            </div>
            <div class="form-group">
                <label for="inputUrl">URL</label>
                <input type="url" ng-model="newTaskUrl" class="form-control" id="inputUrl" size=30 placeholder="https://www.google.co.jp/">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-click="title=!title;sort('title', title)">登録名</th>
                    <th ng-click="url=!url;sort('url', url)">URL</th>
                    <th ng-click="date=!date;sort('date', date)">日付</th>
                    <th>削除ボタン</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in $storage.tasks">
                    <td>{{task.title}}</td>
                    <td>
                        <div ng-bind-html="task.url | linky"></div>
                    </td>
                    <td>{{task.date | date: 'yyyy年M月d日（EEE）a hh時mm分ss秒'}}</td>
                    <td><a href ng-click="$storage.tasks.splice($index,1)">[x]</a></td>
                </tr>
            </tbody>
        </table>

        <form>
            <label for="displayData">登録済JSON表示：</label>
            <input id="displayData" type="checkbox" ng-model="showData" />
        </form>
        <div id="panel" ng-show="showData">
            <pre>{{ $storage.tasks | json }}</pre>
        </div>

        <form ng-submit="bulkImport()" class="form-inline">
            <label for="bulkData">JSON登録欄表示：</label>
            <input id="bulkData" type="checkbox" ng-model="showField" /></br>
            <textarea ng-model="importStr" ng-show="showField" class="form-control" id="bulkData" cols="100" rows="6" placeholder="JSON形式で入力してください"></textarea>
            <button type="submit" class="btn btn-default" ng-show="showField">Submit</button>
        </form>
    </div>
</body>

</html>
