<div id="panel">
    <form ng-submit="addNew()" class="form-inline">
        <div class="form-group" style="display: inline">
            <label for="inputName">登録名</label>
            <input type="text" ng-model="newLinkTitle" class="form-control" id="inputName" placeholder="Google">
        </div>
        <div class="form-group" style="display: inline">
            <label for="inputUrl">URL</label>
            <input type="text" ng-model="newLinkUrl" class="form-control" id="inputUrl" size=30 placeholder="https://www.google.co.jp/">
        </div>
        <div class="form-group" style="display: inline">
            <label for="inputTag">タグ</label>
            <input type="text" ng-model="newLinkTag" class="form-control" id="inputTag" size=30 placeholder="github,angularjs,original">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </form>
</div>
<br>
